$bg-app: #f1f1f1;

$bg-card: #ffffff;
$bg-card-footer: rgba(241, 241, 241, 0.5);

$divider: #ebebeb;
$shadow: rgba(51, 51, 51, 0.1);

$font-primary: #737c84;
$font-secondary: #b4b4b4;

$primary: #69a3ff;
$warning: #ff9632;
$danger: #ed1946;